<div class="ranks-wrapper">
    <div *ngFor="let post of temtem; track: post" class="ranks-content">
      <div class="ranks-entry">
       <div class="ranks-name">{{ post.name }}</div> 
       <div class="ranks-types"> {{ post.types.join(', ') }}</div>
        <div *ngIf="post.stats" class="ranks-stats">
            <div *ngFor="let stat of getStats(post)" class="ranks-stats-column">
             {{ stat.statValue }}
            </div>
          
        </div>
      </div>
    </div>
  </div>
  