@import '../shared/shared.scss';
@import '../../styles.scss';

.ranks-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4px;
    color: black;
    background-color: #d3d3d3;
    border: solid 10px black;
    border-radius: 30px;
    height: max-content;
    width: 1080px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-bottom: 180px;

    >.ranks-type-row {
        display: flex;
        >div {
            cursor: pointer;
            >img {
                width: 50px;
                height: 50px;
            }
        }
    }

    >.ranks-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        >.overline {
            height: 40px;
            width: 610px;

        }
        >.ranks-entry:has(.ranks-name:hover) .ranks-profile-img img {
            transition: 0.3s;
            background-color: #94dcf8;
        }
        >.ranks-entry {
            display: flex;
            flex-direction: row;
            text-align: left;
            align-items: center;
            gap: 6px;
            @include orange-border;
            width: 620px;

            
            >.ranks-profile-img {
                width: 50px;
                height: 50px;
                cursor: pointer;

                >img {
                    border: 2px solid black;
                    border-radius: 16px;
                    background-color: #45cbff;
                    width: 50px;
                    height: 50px;
                    &:hover {
                        transition: 0.3s;
                        background-color: #94dcf8;
                    }
                    &:not(:hover) {
                        transition: 0.3s;
                    }
                }

            }

            >.ranks-name {
                display: flex;
                min-width: 120px;
                font-size: 24px;
                cursor: pointer;
                &:hover {
                    >.ranks-profile-img {
                        >img {
                            transition: 0.3s;
                            background-color: #94dcf8;
                        }
                    }
                }

            }
            >.cursor-default {
                cursor: default !important;
            }

            >.ranks-types {
                display: flex;
                min-width: 85px;
                justify-content: center;
                cursor: default;
                >img {
                    width: 40px;
                    height: 40px;
                }
            }

            >.ranks-stats {
                display: flex;
                gap: 4px;
                min-width: 250px;
                font-size: 24px;
                cursor: default;
                >.ranks-stats-column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 38px;
                }

                >.ranks-stats-column-top {
                    display: flex;
                    justify-content: center;
                    min-width: 38px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}