@import '../shared/shared.scss';
@import '../../styles.scss';

.ranks-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4px;
    color: black;
    background-color: #d3d3d3;
    border: solid 10px black;
    border-radius: 30px;
    height: max-content;
    width: 1080px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-bottom: 180px;

    >.ranks-type-row {
        display: flex;
        >div {
            >img {
                width: 50px;
                height: 50px;
                // filter: brightness(0);
            }
        }
    }

    >.ranks-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        >.overline {
            height: 40px;
            width: 587px;

        }

        >.ranks-entry {
            display: flex;
            flex-direction: row;
            text-align: left;
            align-items: center;

            @include orange-border;

            >.ranks-profile-img {
                width: 50px;

                >img {

                    width: 50px;
                    height: 50px;
                }
            }

            >.ranks-name {
                display: flex;
                min-width: 120px;
                // justify-content: center;
                background-color: aqua;
                font-size: 24px;
            }

            >.ranks-types {
                display: flex;
                min-width: 85px;
                justify-content: center;
                background-color: yellowgreen;

                >img {
                    width: 40px;
                    height: 40px;
                }
            }

            >.ranks-stats {
                display: flex;
                gap: 4px;
                min-width: 250px;
                background-color: yellow;
                font-size: 20px;

                >.ranks-stats-column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 38px;
                }

                >.ranks-stats-column-top {
                    display: flex;
                    justify-content: center;
                    min-width: 38px;
                    font-size: 14px;
                }
            }
        }
    }
}