.ranks-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4px;
    color: black;
    background-color: #d3d3d3;
    border: solid 10px black;
    border-radius: 30px;
    height: max-content;
    width: 1080px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    >.ranks-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: violet;
        width: 90%;
        >.ranks-entry {
            display: flex;
            flex-direction: row;
            text-align: left;
            >.ranks-name {
                display: flex;
                min-width: 100px;
                background-color: aqua;
            }
            >.ranks-types {
                display: flex;
                min-width: 150px;
                background-color: yellowgreen;
            }
            >.ranks-stats {
                display: flex;
                gap: 4px;
                min-width: 250px;
                background-color: yellow;
                >.ranks-stats-column {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}