.burger-menu {
    display: none;
}
.header-wrapper {
    display: flex;
    position: sticky;
    height: 100px;
    width: 100%;
    position: relative;
    max-width: 1440px;
    justify-content: center;
    
    >.navbar {
        position: relative;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        border-top-left-radius: 16px;
        >.border-top-left-radius {
            border-top-left-radius: 16px;
        }
        >a {
            display: flex;
            text-decoration: none;
            color: black;
            min-width: 80px;
            justify-content: center;
            background-color: #f27000;
            padding: 15px;            
            cursor: pointer;

            &:hover {
                transition: 0.3s;
                background-color: #ffffff;
            }
            &:not(:hover) {
                transition: 0.3s;
            }
        }
        >.input-wrapper {
            border-top-right-radius: 16px;
            background-color: #f27000;
            padding: 14px;
            >input {
                width: 100px;
                font-family: "Rubik";
                border-radius: 8px;
                color: black;
            }
        }


    }
}

.search-results {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    justify-content: center;
    width: max-content;
    height: max-content;
    z-index: 999;
    background-color: #f27000;
    padding: 10px;
    border-radius: 15px;
    >h3 {
        position: relative;
        left: 8px;
    }
    >.search-results-entrys {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
        padding: 4px;
        >div {
            >a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                >.single-entry {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    cursor: pointer;
                    padding-left: 4px;
                    border-radius: 8px;
                    &:hover {
                        transition: 0.5s;
                        background-color: #f7b072;
                        transform: scale(1.1);
                    }
                    &:not(:hover){
                        transition: 1s;
                    }
                    >.single-element {
                            display: flex;
                            align-items: center;
                            width: 33%;
                            gap: 2px;
                            >img {
                                height: 32px;
                                width: 32px;
                                border-radius: 30px;
                                border: solid 2px black;
                                background-color: whitesmoke;
                            }
                            >.type {
                                display: flex;
                                align-items: center;
                                >img {
                                    height: 24px;
                                    width: 24px;
                                }
                            }
                        }
                    
        
                }
            }
        }
        
    }
}

@media only screen and (max-width: 510px) {
    .burger-menu {
        display: flex;
        position: absolute;
        z-index: 999;
        right: 8px;
        top: 8px;
        height: 80px;
        width: 80px;
        background-image: url('../../../assets/img/burgermenu-icon.png');
    }
    .header-wrapper {
        height: 50px;
        >.navbar {
            height: 50px;
            bottom: 4px;
            >a {
                display: none;
            }
            >input {
                left: 0px;
            }
    
        }
    }
    
    .search-results {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 120px;
        justify-content: center;
        width: 90%;
        height: max-content;
        z-index: 999;
        background-color: #f27000;
        padding: 10px;
        border-radius: 15px;
        >h3 {
            position: relative;
            left: 8px;
        }
        >.search-results-entrys {
            display: flex;
            flex-direction: column;
            gap: 4px;
            position: relative;
            padding: 4px;
            >div {
                >a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    >.single-entry {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        cursor: pointer;
                        padding-left: 4px;
                        border-radius: 8px;
                        >.trait {
                            display: none !important;
                        }
                        >.single-element {
                                display: flex;
                                align-items: center;
                                width: 33%;
                                gap: 2px;
                                >img {
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 30px;
                                    border: solid 2px black;
                                    background-color: whitesmoke;
                                }
                                >.type {
                                    display: flex;
                                    align-items: center;
                                    >img {
                                        height: 24px;
                                        width: 24px;
                                    }
                                }
                            }
                        
            
                    }
                }
            }
            
        }
    }
}

@media only screen and (max-width: 390px) {
    .search-results {
        top: 55px;
    }
    .burger-menu {
        top: 4px;
        width: 40px;
        height: 40px;
        background-size: contain;
    }
}