.stat74,
.stat90,
.stat84,
.stat85,
.stat82,
.stat81,
.stat76,
.stat93,
.stat77,
.stat79,
.stat75,
.stat78,
.stat110,
.stat95,
.stat87,
.stat91,
.stat89,
.stat80,
.stat88,
.stat83,
.stat86,
.stat92,
.stat100,
.stat96,
.stat125,
.stat105,
.stat111,
.stat101,
.stat103,
.total476,
.total477,
.total481,
.total482,
.total483,
.total496 {
    color: greenyellow;
    -webkit-text-stroke: black 0.5px;
}

.stat65,
.stat72,
.stat66,
.stat64,
.stat67,
.stat73,
.stat70,
.stat71,
.stat68,
.stat69,
.total450,
.total451,
.total452,
.total453,
.total454,
.total456,
.total457,
.total458,
.total459,
.total460,
.total461,
.total462,
.total463,
.total464,
.total465,
.total467,
.total468,
.total469,
.total470,
.total471,
.total472,
.total474 {
    color: #4DD0E1;
    -webkit-text-stroke: black 0.5px;
}

.total428,
.total429,
.total431,
.total432,
.total433,
.total439,
.total442,
.total443,
.total444,
.total445,
.total447,
.total448,
.total449,
.stat44,
.stat50,
.stat49,
.stat52,
.stat63,
.stat57,
.stat60,
.stat59,
.stat58,
.stat62,
.stat54,
.stat56,
.stat55,
.stat48,
.stat61,
.stat51,
.stat45,
.stat47,
.stat53,
.stat46 {
    color: #FFD54F;
    -webkit-text-stroke: black 0.5px;
}

.total375,
.total377,
.total382,
.total383,
.total384,
.total388,
.total391,
.total394,
.total405,
.total409,
.total410,
.total411,
.total418,
.total423,
.total424,
.stat44,
.stat50,
.stat49,
.stat52,
.stat48,
.stat51,
.stat45,
.stat47,
.stat53,
.stat46 {
    color: #FFB74D;
    -webkit-text-stroke: black 0.5px;
}

.total224,
.total253,
.total263,
.total292,
.total302,
.total304,
.total306,
.total310,
.total312,
.total315,
.total317,
.total318,
.total320,
.total321,
.total328,
.total329,
.total330,
.total332,
.total333,
.total335,
.total336,
.total339,
.total340,
.total342,
.total346,
.total348,
.total349,
.total350,
.total351,
.total352,
.total353,
.total355,
.total356,
.total357,
.total358,
.total359,
.total362,
.total363,
.total364,
.total370,
.total372,
.total373,
.total374,
.stat35,
.stat32,
.stat31,
.stat42,
.stat38,
.stat39,
.stat40,
.stat18,
.stat36,
.stat41,
.stat43,
.stat30,
.stat37,
.stat22,
.stat27,
.stat34,
.stat20,
.stat24,
.stat29,
.stat23,
.stat33,
.stat10,
.stat25,
.stat26,
.stat21,
.stat12,
.stat28 {
    color: #F44336;
    -webkit-text-stroke: black 0.5px;

}

.tuwaistage-2,
.tuwaistage-4,
.tuwaistage-6,
.tuwaistage-8,
.tuwaistage-10 {
    display: none !important;

}

.nameTuwai130,
.evolevelTuwai130 {
    display: none;
}
