.locations-mobile {
    display: none;
}

.locations-wrapper {
    display: flex;
    position: relative;
    gap: 4px;
    color: black;
    background-color: #d3d3d3;
    border: solid 10px black;
    border-radius: 30px;
    height: max-content;
    width: 1080px;
    height: max-content;
    justify-content: center;
    align-items: center;

    >.map-wrapper {
        display: flex;
        width: 1080px;
        height: 607.5px;
        border-radius: 16px;
        background-color: aqua;
        background-image: url('../../assets/img/locations/map.jpg');
        background-position: center;
        background-size: contain;

        >#Arbury {
            left: 564px;
            top: 215px;
        }

        >#Cipanku {
            left: 202px;
            top: 364px;
        }

        >#Deniz {
            left: 555px;
            top: 39px;
        }

        >#Kisiwa {
            left: 12px;
            top: 179px;
        }

        >#Omninesia {
            left: 369px;
            top: -51px;
        }

        >#Tucma {
            left: 18px;
            top: 19px;
        }

        >img {
            // filter: brightness(2);
            position: absolute;
            transform: scale(0.56);
            z-index: 1;

            &:hover {
                transition: 0.4s ease-in-out;
                transform: scale(0.6);
                filter: contrast(1.2);
            }

            &:not(:hover) {
                transition: 0.2s;
            }
        }
    }

    >.locations-content {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1100px) {

    .locations-wrapper {
        display: none;
    }

    .locations-mobile {
        top: -15px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        background-color: #d3d3d3;
        padding-bottom: 150px;
        >.image-loc-wrapper {
            display: flex;
            justify-content: center;
            top: 32px;
            position: relative;
            >img {
                width: 250px;
                height: auto;
        }}
    }
}

@media only screen and (max-width: 515px) {

    .locations-mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}