<div class="locations-wrapper">
    <!-- <iframe src="https://mapgenie.io/temtem/maps/airborne-archipelago?embed=light" height="500" style="position: relative; width: 100%;"></iframe> -->
    <div class="map-wrapper">
        <img src="../../assets/img/locations/Arbury.png" alt="" id="Arbury">
        <img src="../../assets/img/locations/Cipanku.png" alt="" id="Cipanku">
        <img src="../../assets/img/locations/Deniz.png" alt="" id="Deniz">
        <img src="../../assets/img/locations/Kisiwa.png" alt="" id="Kisiwa">
        <img src="../../assets/img/locations/Omninesia.png" alt="" id="Omninesia">
        <img src="../../assets/img/locations/Tucma.png" alt="" id="Tucma">

    </div>

</div>