<div class="locations-wrapper">
    <!-- <iframe src="https://mapgenie.io/temtem/maps/airborne-archipelago?embed=light" height="500" style="position: relative; width: 100%;"></iframe> -->
    <div class="map-wrapper">
        <img src="../../assets/img/locations/Arbury.png" [routerLink]="['/locations', 'Arbury']" alt="Arbury" id="Arbury">
        <img src="../../assets/img/locations/Cipanku.png" [routerLink]="['/locations', 'Cipanku']" alt="Cipanku" id="Cipanku">
        <img src="../../assets/img/locations/Deniz.png" [routerLink]="['/locations', 'Deniz']" alt="Deniz" id="Deniz">
        <img src="../../assets/img/locations/Kisiwa.png" [routerLink]="['/locations', 'Kisiwa']" alt="Kisiwa" id="Kisiwa">
        <img src="../../assets/img/locations/Omninesia.png" [routerLink]="['/locations', 'Omninesia']" alt="Omninesia" id="Omninesia">
        <img src="../../assets/img/locations/Tucma.png" [routerLink]="['/locations', 'Tucma']" alt="Tucma" id="Tucma">
        
    </div>

</div>