app-header {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100px;
    background-image: url(../assets/img/oree-header-bg.jpg);
    background-size: cover;
    background-position: center;
    border: black solid 2px;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
}

// app-data-display {
//     display: flex;
//     position: relative;
//     justify-content: center;
//     top: 110px;
//     margin-left: 4px;
// }