.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: max-content;
    /* Höhe des sichtbaren Fensters */
}

app-header {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-image: url(../assets/img/oree-header-bg.jpg);
    background-size: cover;
    background-position: center;
    border: black solid 2px;
    z-index: 999;
}

.content {
    flex: 1;
    /* Dynamische Höhe, die den Platz zwischen Header und Footer füllt */
    display: flex;
    flex-direction: column;
    height: max-content;
}

app-footer {
    height: 150px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 510px) {
    app-header {
        position: fixed;
        display: flex;
        background-image: unset;
        background-color: #f27000;
        border: none;

        z-index: 999;
    }

    app-footer {
        width: 100%;
    }
}

@media only screen and (max-width: 390px) {
    app-header {
        height: 50px;
    }

    app-footer {
        height: 50px;
        bottom: -4px;
        position: relative;
    }
}