@import '../../styles.scss';
@import '../shared/shared.scss';



.island-content {
    display: flex;
    background-color: #d3d3d3;
    justify-content: space-around;
    border: solid 10px black;
    border-radius: 30px;
    height: max-content;
    width: 1080px;
    padding-bottom: 150px;

    >.locations-list-mobile {
        display: none;
    }

    .island-container {
        display: flex;
        position: relative;
        gap: 4px;
        color: black;

        height: max-content;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 32px;

        >.locations-list {

            >.location-entry {

                >a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        transition: 0.3s;
                        color: #f27000;
                    }

                    &:not(:hover) {
                        transition: 0.3s;
                    }
                }

                #listNangaDojo {
                    display: none !important;
                }

                >#listArissolaDojo {
                    display: none;
                }

                #listKweaUpland {
                    display: none;
                }
            }
        }
    }



    .island-image img {
        width: 500px;
        @include orange-border;
    }
}

@media only screen and (max-width: 800px) {
    .island-content {
        border: none;
        border-radius: 0;
        top: -16px;
        position: relative;
        flex-direction: column;
        align-items: center;

        >.locations-list-mobile {
            display: flex;
            flex-direction: column;
            top: 12px;
            position: relative;
            gap: 6px;

            a {
                color: black;
                text-decoration: none;
            }
        }

        >.island-container {
            >.locations-list {
                display: none;
            }


        }
    }
}

@media only screen and (max-width: 520px) {
    .island-content {
        >.island-image {
            display: none;
        }
    }
}