.wrapper {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;

    >.dataCollector {
        display: flex;
        align-items: center;
        border-radius: 4px 30px 30px 4px;
        border: 10px solid #1ad3d4;
        height: 55px;
        background-color: rgb(240, 240, 240);
        flex-direction: column;

        &:hover {
            transition: 0.9s ease-in-out;
            height: 300px;
            align-items: flex-start;

            border: 10px solid rgb(113, 255, 85);

            >.top-row {
                >.portrait {
                    transition: 0.6s ease-out;
                    height: 100px;
                    width: 100px;
                    border: 5px solid rgb(0, 0, 0);
                    background-color: rgb(255, 255, 239);
                    left: 0px;
                    top: 24px;
                }
            }

            >.mid-row, .bot-row {
                display: flex;
            }

        }

        &:not(:hover) {
            transition: 0.5s;

            >.top-row {
                >.portrait {
                    transition: 0.5s ease-in-out;
                }
            }
        }

        >.top-row {
            position: relative;
            display: flex;
            gap: 24px;
            align-items: center;
            justify-content: center;
            width: 557px;
            height: 55px;

            .portrait {
                position: relative;
                display: flex;
                right: 16px;
                width: 55px;
                height: 55px;
                border: solid black 5px;
                border-radius: 4px;

                // untendrunter löschen
                // height: 100px;
                // width: 100px;
                // left: 0px;
                // top: 24px;
                // obendrüber löschen
            }

            >.gapper-number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;

                h3 {
                    cursor: default;
                }
            }

            >.gapper-name {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 8px;
                height: 55px;
                width: 240px;

                h2 {
                    cursor: default;
                    margin: 0 0 0 8px;
                }
            }

            >.gapper-types {
                display: flex;
                gap: 8px;
                width: 130px;
                justify-content: flex-end;
                align-items: center;
                scale: 0.5;

                >img {
                    border: none;
                }
            }
        }

        >.mid-row {
            display: none;
            width: 100%;
            height: 50px;
            position: relative;

            >.gapper-traits {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;
                left: 110px;
                width: calc(50%);
                justify-content: flex-start;
                align-items: flex-start;
                background-color: aquamarine;

                >h5 {
                    margin: 0;
                    cursor: pointer;
                    margin-left: 8px;
                }
            }

            >.gapper-stats {
                display: flex;
                align-items: center;
                position: relative;
                width: fit-content;
                background-color: violet;

                >.stat {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    align-items: center;
                    border: 2px solid black;
                    width: 34px;

                    >.totalcircle {
                        display: flex;
                        z-index: 10;
                        position: absolute;
                        top: 150px;
                        right: 24px;
                        height: 70px;
                        width: 70px;
                        background-color: orange;
                        border-radius: 50%;
                        display: inline-block;

                        h5 {
                            display: flex;
                            height: 30px;
                            position: relative;
                            justify-content: center;
                            margin: 0;
                            font-size: 60px;
                            bottom: 30px;
                            color: white;
                            -webkit-text-stroke: 3px black;
                        }

                        h6 {
                            display: flex;
                            justify-content: center;
                            position: relative;
                            margin: 0;
                            font-size: 20px;
                            bottom: 8px;
                            color: white;
                            -webkit-text-stroke: 1px black;
                        }

                    }
                    >.totalheight{
                        height: 300px;
                    }
                    >.hpcircle, .stacircle, .spdcircle, .atkcircle, .defcircle, .spatkcircle, .spdefcircle{
                        h5 {
                            margin: 0;

                        }

                        h6 {
                            margin: 0;
                        }
                    }

                }
            }


        }

        >.bot-row {
            display: none;
            flex: 1;
            justify-content: flex-start;
            width: 100%;

            >.gapper-location {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 8px;
                height: 100%;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                >.location-headline {
                    display: flex;
                    align-items: center;
                    width: 60px;
                    height: 100%;
                    background-color: bisque;

                    >h5 {
                        margin: 0;
                        cursor: pointer;
                    }
                }

                >.location-for {
                    position: relative;
                    display: inline-grid;
                    grid-template-columns: auto auto;
                    row-gap: 8px;
                    column-gap: 8px;

                    .more-locations {
                        display: flex;
                        align-items: center;

                        >h5 {
                            cursor: pointer;
                            display: flex;
                            margin-top: 2px !important;
                            margin-bottom: 2px !important;
                            width: 150px;
                        }
                    }

                    >h5 {
                        cursor: pointer;
                        margin-top: 2px !important;
                        margin-bottom: 2px !important;
                        width: 150px;
                    }
                }
            }


        }

    }
}

// #1ad3d4 -türkis fürs Menü