<div class="wrapper" (click)="closeSearchResults()">
  <div class="wrapper">
    <div *ngFor="let post of data; let i = index; trackBy: trackById" class="dataCollector">
      <div class="top-row" (mouseenter)="scroll300px(i)">

        <img [src]="post.portraitWikiUrl" alt="{{ post.name }}" class="portrait">

        <div class="gapper-number">
          <h3>#{{ post.number }}</h3>
        </div>
        <a (click)="goTo(post.name)">
          <div class="gapper-name">
            <h2>{{ post.name }}</h2>
          </div>
        </a>
        @if (post.types[1]) {
        <div class="gapper-types right20">
          <img *ngFor="let icon of post.typeIcons" [src]="icon" alt="Type Icon" class="type-icon">
        </div>
        }

        @else {
        <div class="gapper-types left20">
          <img *ngFor="let icon of post.typeIcons" [src]="icon" alt="Type Icon" class="type-icon">
        </div>
        }


      </div>
      <div class="mid-row fade-in-normal">
        <div class="gapper-traits">
          <h5 *ngFor="let trait of post.traits">{{trait}}</h5>
        </div>
        <div class="gapper-stats">
          <div *ngFor="let stat of post.stats" class="stat">
            <div ngClass="{{stat.statName}}circle">
              <h6 ngClass={{stat.statName}}>{{ stat.statName | titlecase }}</h6>
              <h5 ngClass="stat{{stat.statValue}} total{{stat.statValue}}">{{ stat.statValue }}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="bot-row fade-in-normal">

        <div *ngIf="!post.hasLocation || !post.locations?.length; else locationTrue" class="gapper-location">
          <div class="no-location">
            <h5>No locations available</h5>
          </div>
        </div>

        <ng-template #locationTrue>
          <div class="gapper-location">
            <div class="location-headline">
              <h5>Locations</h5>
            </div>
            <div class="column">

              <div *ngFor="let loc of post.locations?.slice(0, 3)" class="location-for">

                {{ loc.location }}


              </div>

              <div *ngIf="post.locations && post.locations.length > 3" class="more-locations">
                <h5>... and more</h5>
              </div>


            </div>
          </div>
        </ng-template>


        <div class="gapper-evolution-line class{{post.name | lowercase}}{{post.number}}">
          @if (post.evolution?.evolutionTree) {
          @for (evo of post.evolution?.evolutionTree; track evo.name ){
          <div class="evolution-wrapper {{post.name | lowercase}}stage-{{evo.stage}}">
            <div class="column">
              <img [src]="getPortraitUrl(evo.number)" alt="{{ evo.name }}" class="{{post.name}}{{evo.stage}}">
              <h3 class="name{{post.name}}{{post.number}}">{{evo.name}}</h3>
              @if (evo.level){
              <h4>+{{evo.level}} @if (evo.level == 1000) {TV} @else {Lv}</h4>
              } @else if (!evo.level){

              <h4 class="evolevel{{post.name}}{{post.number}}">Base</h4>
              }
            </div>
          </div>
          }
          } @else if (!post.evolution?.evolutionTree) {
          <div class="evolution-wrapper">
            <div class="column">
              <img [src]="post.portraitWikiUrl" alt="{{ post.name }}" srcset="">
              <h3>{{post.name}}</h3>
              <h4>Base</h4>
            </div>
          </div>
          }

        </div>


      </div>
    </div>
    <div id="deepestPoint"></div>