<div class="wrapper">
  <div class="wrapper">
    <div
      *ngFor="let post of data; trackBy: trackById" class="dataCollector">
    <div class="top-row">
      <img [src]="post.portraitWikiUrl" alt="{{ post.name }}" class="portrait">
      <div class="gapper-number">
        <h3>#{{ post.number }}</h3>
      </div>
      <div class="gapper-name">
        <h2>{{ post.name }}</h2>
      </div>
      <div class="gapper-types">
        <img *ngFor="let icon of post.typeIcons" [src]="icon" alt="Type Icon" class="type-icon">
      </div>
    </div>
    <div class="mid-row fade-in-normal">
      <div class="gapper-traits">
        <h5 *ngFor="let trait of post.traits">{{trait}}</h5>
      </div>
      <div class="gapper-stats">
        <div *ngFor="let stat of post.stats" class="stat">
          <div ngClass="{{stat.statName}}circle">
            <h6 ngClass={{stat.statName}}>{{ stat.statName | titlecase }}</h6>
            <h5>{{ stat.statValue }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="bot-row fade-in-normal">
      <div class="gapper-location" *ngIf="post.hasLocation && post.locations">
        <div class="location-headline"><h5>Locations</h5></div>
        <div class="location-for">
          <h5 *ngFor="let loc of post.locations | slice:0:3 ">{{ loc.location }}</h5>
          <div *ngIf="post.locations.length > 4" class="more-locations">
            <h5>... and more</h5>
          </div>
        </div>
      </div>
      <div *ngIf="!post.hasLocation" class="no-location">
        <h5>No locations available</h5>
      </div>
      <!-- <div class="gapper-evolution-line">
        <div class="evolution-column">
          <img [src]="post.portraitWikiUrl" alt="{{ post.name }}" class="portrait">
          <span>{{ post.name }}</span>
        </div>
        <div class="evolution-column">

        </div>
        <div class="evolution-column"></div>
        <div class="evolution-column"></div>
      </div> -->
      <div class="gapper-evolution-line">
        <!-- Prüfen, ob das Temtem eine Evolution hat -->
        <div *ngIf="post.evolution?.evolutionTree.length > 0; else noEvolution">
          <!-- EvolutionTree anzeigen -->
          <div *ngFor="let evo of post.evolution.evolutionTree" class="evolution-column">
            <img
              [src]="evo.portraitWikiUrl || 'https://via.placeholder.com/50'"
              alt="{{ evo.name }}"
              class="portrait"
            />
            <span>{{ evo.name }}</span>
          </div>
        </div>
        
        <!-- Fallback: Keine Evolution -->
        <ng-template #noEvolution>
          <div class="no-evolution">
            <h5>No evolution available</h5>
          </div>
        </ng-template>
      </div>
      
      
    </div>
  </div>
</div>
