@import '../shared/shared.scss';

.wrapper {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    padding-bottom: 60px;
    >.dataCollector {
        display: flex;
        align-items: center;
        border-radius: 4px 30px 30px 4px;
        border: 10px solid #1ad3d4;
        height: 55px;
        background-color: rgb(160, 160, 160);
        flex-direction: column;
        overflow: hidden;

        &:hover {
            transition: 0.4s ease-in-out;
            height: 300px;
            align-items: flex-start;
            border: 10px solid #f27000;
            background-color: rgb(223, 223, 223);
            >.top-row {
                >.portrait {
                    transition: 0.2s ease-out;
                    height: 100px;
                    width: 100px;
                    border: 5px solid rgb(0, 0, 0);
                    background-color: rgb(255, 255, 239);
                    left: 12px;
                    top: 24px;
                }

                >.gapper-number {
                    left: 16px;

                }

                >.gapper-name {
                    left: 16px;
                }
            }

            >.mid-row,
            .bot-row {
                opacity: 1;
                display: flex;
                visibility: visible;
            }

        }

        &:not(:hover) {
            transition: 0.5s;

            >.top-row {
                >.portrait {
                    transition: 0.4s ease-in-out;
                }
            }
        }

        >.top-row {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 555px;
            height: 69px;
            bottom: 4px;

            >.left20 {
                position: relative;
                left: 20px;
            }

            >.right20 {
                position: relative;
                right: 20px;
            }

            .portrait {
                position: relative;
                display: flex;
                right: 8px;
                width: 46px;
                height: 46px;
                bottom: 3px;
                border: solid black 5px;
                border-radius: 4px;
            }

            >.gapper-number {
                display: flex;
                justify-content: flex-start;
                position: relative;
                left: 5px;
                align-items: center;
                min-width: 135px;

                h3 {
                    cursor: default;
                    font-size: xx-large;
                }
            }

            >.gapper-name {
                display: flex;
                position: relative;
                justify-content: flex-start;
                align-items: center;
                height: 55px;
                min-width: 217.33px;

                h2 {
                    cursor: default;
                    margin: 0 0 0 0px;
                    cursor: pointer;

                }
            }

            >.gapper-types {
                position: relative;
                display: flex;
                width: 130px;
                justify-content: center;
                align-items: center;
                scale: 0.5;
                left: 9px;

                >img {
                    border: none;
                }
            }
        }

        >.mid-row {
            display: none;
            visibility: hidden;
            opacity: 0;
            width: 100%;
            height: 50px;
            position: relative;
            left: 115px;
            gap: 10px;
            transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
            >.gapper-traits {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 120px;
                justify-content: flex-start;
                align-items: flex-start;

                >h5 {
                    margin: 0;
                    cursor: pointer;
                    margin-left: 1px;
                }
            }

            >.gapper-stats {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;
                gap: 4px;

                >.stat {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 30px;

                    >.totalcircle {
                        display: flex;
                        z-index: 10;
                        position: relative;
                        left: 20px;
                        bottom: 4px;
                        height: 45px;
                        width: 45px;
                        display: inline-block;

                        h5 {
                            display: flex;
                            height: 30px;
                            position: relative;
                            justify-content: center;
                            margin: 0;
                            font-size: 32px;
                            bottom: 8px;
                        }

                        h6 {
                            display: flex;
                            justify-content: center;
                            position: relative;
                            margin: 0;
                            font-size: 14px;
                            color: black;
                        }
                    }

                    >.totalheight {
                        height: 300px;
                    }

                    >.hpcircle,
                    .stacircle,
                    .spdcircle,
                    .atkcircle,
                    .defcircle,
                    .spatkcircle,
                    .spdefcircle {
                        display: flex;
                        align-items: center;
                        flex-direction: column;


                        h5 {
                            margin: 0;
                            font-size: x-large;

                        }

                        h6 {
                            margin: 0;
                            font-size: 10px;
                        }
                    }

                }
            }


        }

        >.bot-row {
            display: none;
            visibility: hidden;
            opacity: 0;
            flex: 1;
            justify-content: flex-start;
            width: 100%;
            transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
            >.gapper-location {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 8px;
                height: 100%;
                width: fit-content;
                min-width: 239.09px;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                >.location-headline {
                    display: flex;
                    align-items: center;
                    width: 60px;
                    height: 100%;

                    >h5 {
                        margin: 0;
                        cursor: pointer;
                    }
                }

                >.column {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 8px;

                    >.more-locations {
                        display: flex;
                        align-items: center;

                        >h5 {
                            cursor: pointer;
                            display: flex;
                            margin-top: 2px !important;
                            margin-bottom: 2px !important;
                            width: 150px;
                        }
                    }

                    >.location-for {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        font-weight: bold;



                        >h5 {
                            cursor: pointer;
                            margin-top: 2px !important;
                            margin-bottom: 2px !important;
                            width: 150px;
                        }
                    }
                }

                >.no-location {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                }
            }


            >.classtuwai130 {
                display: grid !important;
                grid-template-columns: repeat(4, 1fr);

            }

            >.gapper-evolution-line {
                display: flex;
                position: relative;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 4px;
                flex: 1;
                height: 100%;

                >.evolution-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 30%;
                    height: 100%;

                    >.column {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;

                        >img {
                            width: 40px;
                            height: auto;
                            border: solid 2px black;
                            border-radius: 30px;
                            cursor: pointer;
                            &:hover {
                                transition: 0.3s;
                                background-color: #1ad3d4;
                            }
                            &:not(:hover){
                                transition: 0.3s;


                            }
                        }

                        >h3 {
                            margin: 0;
                            cursor: pointer;
                        }

                        >h4 {
                            margin: 0;
                            cursor: default;
                        }
                    }
                }
            }
        }

    }
}

#deepestPoint {
    top: 310px;
    display: flex;
    position: relative;
    width: 0;
    height: 0px;
    z-index: 999;
}


