@import '../../styles.scss';
@import '../shared/shared.scss';

.home-content {
    border: solid 10px black;
    border-radius: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 1080px;
    background-color: #d3d3d3;
    >.top-box {
        position: relative;
        display: flex;
        top: 12px;
        flex-direction: column;
        background-image: url('../../assets/img/archipelago-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        @include orange-border;
        height: 300px;
        width: 1046px;
        cursor: default;
        >.bg-oree {
            position: relative;
            width: 100%;
            height: 100%;
            background-image: url('../../assets/img/Oree-home.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            border-radius: 11px;
            >h1 {
                color: black;
                padding-left: 12px;
                font-size: 72px;
                margin-bottom: 0;
            }
            >.subtitle {
                background-color: #f27000;
                width: fit-content;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                padding-right: 8px;
                >h3 {
                    padding-left: 12px;
                    margin-top: 0;

                }
            }

        }
    }
}