@import '../../styles.scss';
@import '../shared/shared.scss';

p,
h1,
div,
h2,
h3 {
    color: black !important;
}

.content-wrapper {
    display: flex;
    background-color: lightgrey;
    max-width: 1080px;
    min-width: 900px;
    height: max-content;
    border-radius: 30px;
    border: 10px black solid;
    justify-content: space-between;
    position: absolute;

    >#content {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        width: 100%;
        height: max-content;

        >.toplane {
            display: flex;
            top: 0px;
            width: fit-content;
            position: relative;
            align-items: start;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;

            .topleft {
                display: flex;
                position: relative;
                justify-content: start;
                align-items: start;
                gap: 12px;
                padding: 12px;
                flex-direction: column;
                text-wrap: wrap;
                width: 100%;
                flex: 1;

                >.second-type {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    >a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        cursor: pointer;
                        color: black;

                        >.p-icon {
                            height: 20px;
                            width: auto;
                            cursor: pointer;
                        }
                    }


                }

                >p {
                    display: flex;
                    align-items: center;
                    gap: 2px;

                    >a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        cursor: pointer;
                        color: black;

                        >.p-icon {
                            height: 20px;
                            width: auto;
                            cursor: pointer;
                        }
                    }

                }

                >.nav-evo-tree {
                    display: flex;
                    flex-direction: row;
                    align-items: unset;
                    width: 100%;
                    justify-content: space-around;
                    padding: 30px 0 30px 0;

                    >.navi {
                        display: flex;
                        position: relative;
                        padding: 4px;
                        @include orange-border;
                        flex-direction: column;
                        align-items: start;
                        height: fit-content;
                        z-index: 1;

                        >h3 {
                            margin-top: 0px;
                        }

                        >a {
                            text-decoration: none;
                            margin: 4px;
                            color: black;
                        }
                    }

                    >.evo-tree {
                        display: flex;
                        >.class-Tuwai{
                            display: grid !important;
                            grid-template-columns: repeat(4, 1fr) !important;
                        }
                        >.evo-tree-details {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 40px;

                            >.evo-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                height: fit-content;
                                // background-color: aqua;
                                max-width: 96.41px;
                                max-height: 165px;
                                overflow: visible;

                                >.temtem-evo-image {
                                    width: 70px;
                                    height: auto;
                                    border-radius: 45px;
                                    border: black solid 3px;
                                    background-color: white;
                                }

                                >p {
                                    display: flex;

                                    >span {
                                        display: flex;
                                        text-align: center;

                                    }
                                }
                            }
                        }

                        >.no-evo-tree {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 30px;
                        }
                    }

                }

            }

            .topright {
                display: flex;
                flex-direction: column;
                top: 50px;
                align-items: center;
                position: relative;
                justify-content: space-between;
                border: solid 5px rgb(242, 112, 0);
                border-radius: 16px;
                background-color: lightblue;
                padding-bottom: 10px;
                width: 210px;
                height: 450px;

                >p,
                h2 {
                    font-size: larger;
                    margin: 8px;
                }

                >.profile-pic {
                    height: 210px;
                    width: 210px;
                    border: 5px solid silver;
                    border-right-width: 0px;
                    border-left-width: 0px;

                    background-color: white;
                }

                >div {
                    >.type-icon-top {
                        width: 40px;
                        height: 40px;
                    }
                }

                >.top-right-traits {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >p {
                        font-size: larger;
                        margin: 8px;
                    }

                    >.trait-wrapper {
                        display: flex;

                        justify-content: start;
                        flex-direction: column;

                        >a {
                            display: flex;
                            justify-content: left;
                            text-decoration: none;
                            color: black;
                        }
                    }

                }
            }

        }

        >.midlane {
            display: flex;
            width: 100%;
            // background-color: lightcoral;
            height: fit-content;
            flex-direction: column;
            padding: 50px 0 50px 0;

            #noLocation {
                display: flex;
            }

            >h2 {
                margin: 30px 0 30px 0;
                padding-left: 12px;
            }

            >.location-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;

                >.border {
                    display: flex;
                    padding: 12px 0 12px 0;
                    width: fit-content;
                    @include orange-border;

                    >.location-entry {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-width: 175px;
                        cursor: pointer;

                        &:hover {
                            transition: 0.3s;
                            transform: scale(1.2);

                            >h4 {
                                color: #9c4c05;
                            }

                            >.location-text {
                                color: #f27000 !important;
                            }
                        }

                        &:not(:hover) {
                            transition: 0.3s;

                        }

                        >h4 {
                            margin-top: 0;
                        }
                    }
                }


            }

            >.matchup-wrapper {
                padding-left: 12px;
                display: flex;
                flex-direction: column;

                >h2 {
                    margin-top: 30px;
                }

                table {
                    // width: 100%;
                    border-collapse: collapse;
                    margin-top: 1rem;
                    text-align: center;
                    width: max-content;

                    thead {
                        tr {
                            display: flex;
                            border: 0.5px black solid;

                            >.type-row {
                                position: relative;
                                background-color: rgba($color: rgb(242, 112, 0), $alpha: 0.5);
                                width: 44px !important;
                                height: 44px;
                                border: 1px black solid;

                                .type-icon {
                                    height: 44px;
                                    width: 44px;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            display: flex;
                            border: 0.5px black solid;

                            td {
                                display: flex;
                                justify-content: center;
                                border: 1px black solid;

                                width: 44px;
                            }
                        }
                    }

                }

            }

            >.border-stats {
                display: flex;
                left: 12px;

                position: relative;
                width: max-content;

                >.gapper-stats {
                    display: flex;
                    align-items: flex-start;
                    padding: 8px 40px 0 4px;
                    justify-content: flex-start;
                    position: relative;
                    gap: 4px;
                    width: fit-content;
                    @include orange-border;

                    >.stat {
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        width: 30px;

                        >.totalcircle {
                            display: flex;
                            z-index: 10;
                            position: relative;
                            left: 20px;
                            bottom: 4px;
                            height: 45px;
                            width: 45px;
                            display: inline-block;

                            h5 {
                                display: flex;
                                height: 30px;
                                position: relative;
                                justify-content: center;
                                margin: 0;
                                font-size: 32px;
                                bottom: 4px;
                            }

                            h6 {
                                display: flex;
                                justify-content: center;
                                position: relative;
                                margin: 0;
                                font-size: 12px;
                                color: black;
                            }
                        }

                        >.totalheight {
                            height: 300px;
                        }

                        >.hpcircle,
                        .stacircle,
                        .spdcircle,
                        .atkcircle,
                        .defcircle,
                        .spatkcircle,
                        .spdefcircle {
                            display: flex;
                            align-items: center;
                            flex-direction: column;


                            h5 {
                                margin: 0;
                                font-size: x-large;

                            }

                            h6 {
                                margin: 0;
                                font-size: 10px;
                            }
                        }

                    }
                }
            }
        }

        >.botlane {
            display: flex;
            height: fit-content;
            // background-color: aquamarine;
            flex-direction: column;
            width: 100%;

            h2 {
                padding-left: 12px;
            }

            >.technique-entry {
                display: flex;
                // background-color: #f27000;
                width: 100%;
                flex-direction: column;
                align-items: center;

                >.technique-line {
                    justify-content: center;
                    display: flex;
                    flex-direction: row;
                    padding-top: 4px;
                    width: 100%;

                    >.technique-border {
                        @include orange-border;
                        width: 95%;
                        background-color: azure;

                        span {
                            display: flex;
                            gap: 16px;
                            align-items: center;

                            >.level-part {
                                display: flex;
                                justify-content: flex-start;
                                margin-left: 4px;
                                width: 54px;

                                >.egg-icon {
                                    display: flex;
                                    margin-left: 4px;
                                    width: 30px;
                                    height: 30px;
                                }

                                >.techmov-icon {
                                    width: 40px;
                                    height: 40px;
                                }
                            }

                            >.prio-part {
                                display: flex;
                                align-items: center;
                                width: 30px;

                                >.technique-prio-icon {
                                    position: relative;
                                    transform: scale(0.8);
                                    left: -20px;
                                    width: 60px;
                                }
                            }

                            >.name-part {
                                display: flex;
                                align-items: center;
                                width: 200px;
                                justify-content: space-between;

                                >.technique-type-icon {
                                    width: 34px;
                                    height: 34px;
                                }

                                >.synergy-part {
                                    display: flex;

                                    >.plus-icon {
                                        width: 12px;
                                        height: 12px;
                                        z-index: 1;
                                    }

                                    >.synergy-icon {
                                        width: 24px;
                                        height: 24px;
                                        position: relative;
                                        right: 14px;
                                    }

                                }
                            }

                            >strong {
                                width: 180px;
                            }

                            >.technique-type-icon {
                                width: 34px;
                                height: 34px;

                            }

                            >.damage-part {
                                display: flex;
                                align-items: center;
                                width: 100px;
                                justify-content: space-between;

                                >.technique-type-icon {
                                    position: relative;
                                    right: 4px;
                                    width: 25px;
                                    height: 25px;
                                }
                            }

                            >.stamina-part {
                                width: 60px;
                            }

                            >.hold-part {
                                width: 70px;
                            }


                            >.targets-part {
                                display: flex;
                                align-items: center;
                                width: 250px;
                            }

                        }

                    }
                }

            }
        }
    }

}



@mixin boldblack {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.x_1 {
    background-color: silver;
    @include boldblack();
}

.x_2 {
    background-color: rgb(72, 214, 108);
    @include boldblack();

}

.x_1_2 {
    background-color: rgb(248, 94, 94);
    @include boldblack();

}

.x_1_4 {
    background-color: darkred;
    @include boldblack();

}

.x_4 {
    background-color: rgb(23, 212, 70);
    @include boldblack();

}