@import '../../styles.scss';


p,
h1,
div,
h2,
h3 {
    color: black !important;
}

.content-wrapper {
    display: flex;
    background-color: lightgrey;
    max-width: 1080px;
    min-width: 900px;
    height: max-content;
    border-radius: 30px;
    border: 10px black solid;
    justify-content: space-between;
    position: absolute;
    >#content {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        width: 100%;
        height: max-content;
        >.toplane {
            display: flex;
            top: 0px;
            width: fit-content;
            position: relative;
            align-items: start;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;

            .topleft {
                display: flex;
                position: relative;
                justify-content: start;
                align-items: start;
                gap: 12px;
                padding: 12px;
                flex-direction: column;
                text-wrap: wrap;
                width: 100%;
                flex: 1;

                >.second-type {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    >a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        cursor: pointer;
                        color: black;

                        >.p-icon {
                            height: 20px;
                            width: auto;
                            cursor: pointer;
                        }
                    }


                }

                >p {
                    display: flex;
                    align-items: center;
                    gap: 2px;

                    >a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-decoration: none;
                        cursor: pointer;
                        color: black;

                        >.p-icon {
                            height: 20px;
                            width: auto;
                            cursor: pointer;
                        }
                    }

                }
                >.nav-evo-tree {
                    display: flex;
                    flex-direction: row;
                    align-items: unset;
                    width: 100%;
                    justify-content: space-around;
                    padding: 30px 0 30px 0;
                    >.navi {
                        display: flex;
                        position: relative;
                        padding: 4px;
                        @include orange-border;
                        flex-direction: column;
                        align-items: start;
                        height: fit-content;
                        z-index: 1;
                        >h3 {
                            margin-top: 0px;
                        }
                        >a {
                            text-decoration: none;
                            margin: 4px;
                            color: black;
                        }
                    }
                    >.evo-tree {
                        display: flex;
                        >.evo-tree-details {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            justify-content: center;
                            align-items: center;
                            gap: 40px;
                            >.evo-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                height: fit-content;
                                // background-color: aqua;
                                max-width: 96.41px;
                                max-height: 165px;
                                overflow: visible;
                                >.temtem-evo-image {
                                    width: 70px;
                                    height: auto;
                                    border-radius: 45px;
                                    border: black solid 3px;
                                    background-color: white;
                                }
                                >p {
                                    display: flex;
                                    >span {
                                        display: flex;
                                        text-align: center;
                                        
                                    }
                                }
                            }
                        }
                        >.no-evo-tree {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 30px;
                        }
                    }

                }

            }

            .topright {
                display: flex;
                flex-direction: column;
                top: 50px;
                align-items: center;
                position: relative;
                justify-content: end;
                border: solid 5px rgb(242,112,0);
                border-radius: 16px;
                background-color: lightblue;
                padding-bottom: 10px;
                >p,
                h2 {
                    font-size: larger;
                    margin: 8px;
                }

                >.profile-pic {
                    height: 130px;
                    width: 100%;
                    border: 5px solid silver;
                    border-right-width: 0px;
                    border-left-width: 0px;

                    background-color: white;
                }

                >div {
                    >.type-icon-top {
                        width: 40px;
                        height: 40px;
                    }
                }

                >.top-right-traits {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >p {
                        font-size: larger;
                        margin: 8px;
                    }

                    >.trait-wrapper {
                        display: flex;

                        justify-content: start;
                        flex-direction: column;

                        >a {
                            display: flex;
                            justify-content: left;
                            text-decoration: none;
                            color: black;
                        }
                    }

                }
            }

        }
        >.midlane {
            display: flex;
            width: 100%;
            // background-color: lightcoral;
            height: 200px;
            flex-direction: column;
            padding: 50px 0 50px 0;
            #noLocation {
                display: flex;
            }
            >h2 {
                margin: 0 0 30px 0;
                padding-left: 12px;
            }
            >.location-wrapper {
                // display: grid;
                // grid-template-columns: repeat(6, 1fr);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                // padding: 12px 0 12px 0;
                >.border {
                    display: flex;
                    padding: 12px 0 12px 0;
                    width: fit-content;
                    @include orange-border;
                    >.location-entry {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-width: 175px;
                        cursor: pointer;
                        &:hover {
                            transition: 0.3s;
                            transform: scale(1.2);
                            >h4 {
                               color: #9c4c05;
                            }
                            >.location-text {
                                color: #f27000 !important;
                            }
                        }
                        &:not(:hover){
                            transition: 0.3s;
    
                        }
                        >h4 {
                            margin-top: 0;
                        }
                    }
                }


            }
        }

    }

}

.matchup-wrapper {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
        text-align: center;

        th,
        td {
            padding: 10px;
            border: 1px solid black;
        }

        .type-icon {
            height: 40px;
            width: 40px;
        }

    }

}

@mixin boldblack {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.x_1 {
    background-color: silver;
    @include boldblack();
}

.x_2 {
    background-color: rgb(72, 214, 108);
    @include boldblack();

}

.x_1_2 {
    background-color: rgb(248, 94, 94);
    @include boldblack();

}

.x_1_4 {
    background-color: darkred;
    @include boldblack();

}

.x_4 {
    background-color: rgb(23, 212, 70);
    @include boldblack();

}

.type-row {
    background-color: rgba($color: rgb(242, 112, 0), $alpha: 0.5);
    width: 32px;
    position: relative;
    height: 32px;
}