<div class="content-wrapper">
  <div *ngIf="errorMessage; else temtemContent">
    <h1>{{ errorMessage }}</h1>
    <p>Redirecting to Temtem list...</p>
  </div>

  <ng-template #temtemContent>
    <div *ngIf="temtem; else loading" id="content">
      <div class="toplane">
        <div class="topleft">
          <h1>{{ temtem.name }}</h1>
          <p>
            {{ temtem.name }} is a
            <a href="/">{{temtem.types[0]}} <img src="{{temtem.type1icon}}" class="p-icon" alt=""></a>
            <a href="/" *ngIf="temtem.types[1]">{{temtem.types[1]}}<img src="{{temtem.type2icon}}" class="p-icon"
                alt=""></a>-Temtem.
          </p>


          <span *ngFor="let trivia of temtem.trivia">- {{trivia}}</span>

          <div class="nav-evo-tree">
            <div class="navi">
              <h3>Navigation</h3>
              <a href="/">EvoTree</a>
              <a href="/">Locations</a>
              <a href="/">Stats</a>
              <a href="/">Techniques</a>
              <a href="/">Matchups</a>
            </div>
            <div class="evo-tree">
              <div *ngIf="temtem.evolution?.evolutionTree as evoTree" class="evo-tree-details">
                <div *ngFor="let evo of evoTree" class="evo-wrapper">
                  <img [src]="getPortraitUrl(evo.number)" alt="{{ evo.name }}" class="temtem-evo-image" />
                  <strong>{{ evo.name }}</strong>

                  <!-- Fall: Level-basierte Evolution -->
                  <p *ngIf="evo.type === 'levels'">
                    <span *ngIf="evo.level && evo.level > 0">+{{ evo.level }} levels</span>
                    <span *ngIf="!evo.level || evo.level === 0">Base</span>
                  </p>

                  <!-- Fall: Spezielle Evolution -->
                  <p *ngIf="evo.type === 'special'">
                    <span *ngIf="evo.description">{{ evo.description }}</span>
                  </p>
                </div>
              </div>
              <div class="no-evo-tree" *ngIf="!temtem.evolution?.evolutionTree">No EvoTree</div>
            </div>


          </div>

        </div>
        <div class="topright">
          <h2>{{ temtem.name }}</h2>
          <img src="https://temtem-api.mael.tech/{{temtem.icon}}" alt="{{ temtem.name }}" class="profile-pic">
          <p>Types:</p>
          <div>
            <img *ngIf="temtem.type1icon" [src]="temtem.type1icon" alt="Type Icon 1" class="type-icon-top">
            <img *ngIf="temtem.type2icon" [src]="temtem.type2icon" alt="Type Icon 2" class="type-icon-top">
          </div>
          <div class="top-right-traits">
            <p>Traits:</p>
            <div class="trait-wrapper">
              <a *ngIf="temtem.traits" href="/">{{ temtem.traits[0]}}</a>
              <a *ngIf="temtem.traits" href="/">{{ temtem.traits[1]}}</a>
            </div>

          </div>

        </div>

      </div>
      <div class="midlane">

        <h2>Locations</h2>
        <div *ngIf="hasLocations(); else noLocation" class="location-wrapper">
          <div class="border">
            <div *ngFor="let group of getGroupedLocations()" class="location-entry">
              <h4>{{ group.island }}</h4>
              <div *ngFor="let location of group.locations" class="location-text">{{ location }}</div>
            </div>
          </div>
        </div>
        <ng-template #noLocation>No location</ng-template>
        <div class="matchup-wrapper" *ngIf="temtem?.matchUps">
          <h2>Type Matchups</h2>
          <table>
            <thead>
              <tr>
                <th *ngFor="let type of getAllTypes()" class="type-row">
                  <img [src]="'//temtem-api.mael.tech/images/icons/types/' + type + '.png'" alt="{{ type }}"
                    class="type-icon" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let type of getAllTypes()" [class]="getClassForMultiplier(getMultiplierForType(type))">
                  {{ getMultiplierForType(type) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2>Stats</h2>
        <div class="border-stats">
          <div class="gapper-stats">
            <div *ngFor="let stat of getStatsAndTvs()" class="stat">
              <div [ngClass]="stat.statName + 'circle'">
                <h6 [ngClass]="stat.statName">{{ stat.statName | titlecase }}</h6>
                <h5 [ngClass]="'stat' + stat.statValue + ' total' + stat.statValue">{{ stat.statValue }}</h5>
                <span class="tv-value" *ngIf="stat.tvValue > 0">{{ stat.tvValue }} tv</span>
              </div>
            </div>
          </div>
        </div>




      </div>
      <div class="botlane">
        <h2>Techniques:</h2>
        <div *ngIf="getTechniques().length > 0; else noTechniques" class="technique-entry">

          <div *ngFor="let technique of getTechniques()" class="technique-line">
            <div class="technique-border">
              <span><strong>{{ technique.name }}</strong>Type:<img src="https://temtem-api.mael.tech/images/icons/types/{{ technique.type }}.png" class="technique-type-icon" alt="">
                Class:      <img [src]="'https://temtem-api.mael.tech' + technique.classIcon" class="technique-class-icon" alt="" />
                Damage: {{ technique.damage }}Stamina Cost: {{ technique.staminaCost }}Hold: {{ technique.hold }}Priority: {{ technique.priority }}
              <span *ngIf="technique.synergy && technique.synergy !== 'None'"> | Synergy: {{ technique.synergy }}</span>
              <!-- Description: {{ technique.description }} -->
              
              <!-- Effect: {{ technique.effectText }} -->
            </span>
            </div>
          </div>
        </div>
        <ng-template #noTechniques>
          <p>No techniques available.</p>
        </ng-template>
      </div>









    </div><!--  div für Zeile 8 -->


    <!-- <div class="trivia-wrapper" *ngFor="let text of getTrivia()">
    <h3>{{temtem?.trivia}}</h3>
  </div> 

  <div class="tempedia-entry">
    <h3>{{temtem?.gameDescription}}</h3>
  </div> -->






    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>