<div class="content-wrapper">

  <div class="temtem-navigation">
    <div class="nav-box">
      <div class="nav-line">
        <!-- Zurück-Button -->
        <div class="nav-element" *ngIf="getPrevTemtem() as prevTem" (click)="goPrevious()">
          <img [src]="prevTem.portraitWikiUrl" alt="{{ prevTem.name }}" class="nav-icon" />
          <span>← {{ prevTem.name }}</span>
        </div>

        <!-- Weiter-Button -->
        <div class="nav-element" *ngIf="getNextTemtem() as nextTem" (click)="goNext()">
          <span>{{ nextTem.name }} →</span>

          <img [src]="nextTem.portraitWikiUrl" alt="{{ nextTem.name }}" class="nav-icon" />
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="errorMessage; else temtemContent">
    <h1>{{ errorMessage }}</h1>
    <p>Redirecting to Temtem list...</p>
  </div>

  <ng-template #temtemContent>
    <div *ngIf="temtem; else loading" id="content">
      <div class="toplane">
        <div class="topleft">
          <h1>{{ temtem.name }}</h1>
          <p>
            {{ temtem.name }} is a
            <span>{{temtem.types[0]}} <img src="{{temtem.type1icon}}" class="p-icon" alt=""></span>
            <span *ngIf="temtem.types[1]">{{temtem.types[1]}}<img src="{{temtem.type2icon}}" class="p-icon"
                alt=""></span>-Temtem.
          </p>




          <div class="nav-evo-tree">
            <div class="navi">
              <h3>Navigation</h3>
              <a (click)="scrollToElement('locations')">Locations</a>
              <a (click)="scrollToElement('matchups')">Matchups</a>
              <a (click)="scrollToElement('stats')">Stats</a>
              <a (click)="scrollToElement('techniques')">Techniques</a>
              <a (click)="scrollToElement('trivia')">Trivia</a>
            </div>
            <div class="evo-tree">
              <div *ngIf="temtem.evolution?.evolutionTree as evoTree" class="evo-tree-details class-{{temtem.name}}">
                <div *ngFor="let evo of evoTree" class="evo-wrapper">
                  <a [routerLink]="['/',evo.name]">
                    <img [src]="getPortraitUrl(evo.number)" alt="{{ evo.name }}" class="temtem-evo-image" />
                    <strong>{{ evo.name }}</strong></a>

                  <!-- Fall: Level-basierte Evolution -->
                  <p *ngIf="evo.type === 'levels'">
                    <span *ngIf="evo.level && evo.level > 0">+{{ evo.level }} levels</span>
                    <span *ngIf="!evo.level || evo.level === 0">Base</span>
                  </p>

                  <!-- Fall: Spezielle Evolution -->
                  <p *ngIf="evo.type === 'special'">
                    <span *ngIf="evo.description">{{ evo.description }}</span>
                  </p>
                </div>
              </div>
              <div class="no-evo-tree" *ngIf="!temtem.evolution?.evolutionTree">No EvoTree</div>
            </div>


          </div>

        </div>
        <div class="topright">
          <h2>{{ temtem.name }}</h2>
          <img *ngIf="temtem.number !== 165" src="https://temtem-api.mael.tech/{{temtem.icon}}" alt="{{ temtem.name }}" class="profile-pic">
          <img *ngIf="temtem.number == 165" src="https:temdosia.de/assets/img/Galios.png" alt="{{ temtem.name }}" class="profile-pic">
          <p>Types:</p>
          <div>
            <img *ngIf="temtem.type1icon" [src]="temtem.type1icon" alt="Type Icon 1" class="type-icon-top">
            <img *ngIf="temtem.type2icon" [src]="temtem.type2icon" alt="Type Icon 2" class="type-icon-top">
          </div>
          <div class="top-right-traits">
            <p>Traits:</p>
            <div class="trait-wrapper">
              <div *ngFor="let trait of temtem.traits" class="trait-entry">
                <strong>{{ trait.name }}:</strong> {{ trait.effect }}
              </div>
            </div>
            

          </div>

        </div>

      </div>
      <div class="midlane">
        <div id="locations"></div>
        <h2> Locations</h2>
        <div *ngIf="hasLocations(); else noLocation" class="location-wrapper">
          <div class="border">
            <div *ngFor="let group of getGroupedLocations()" class="location-entry">
              <h4><a routerLink="/locations/{{ group.island }}">{{ group.island }}</a></h4>
              <div *ngFor="let location of group.locations" class="location-text">
                <a routerLink="/locations/{{ group.island }}/{{ getNameWithoutSpaces(location) }}">{{ location }}</a></div>
            </div>
          </div>
        </div>
        <ng-template #noLocation>
          <div id="noLocationText">No location</div>
        </ng-template>
        <div id="matchups"></div>
        <div class="matchup-wrapper" *ngIf="temtem?.matchUps">
          <h2>Type Matchups</h2>
          <table>
            <thead>
              <tr>
                <th *ngFor="let type of getAllTypes()" class="type-row">
                  <img [src]="'//temtem-api.mael.tech/images/icons/types/' + type + '.png'" alt="{{ type }}"
                    class="type-icon" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let type of getAllTypes()" [class]="getClassForMultiplier(getMultiplierForType(type))">
                  {{ getMultiplierForType(type) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="stats"></div>
        <h2>Stats</h2>
        <div class="border-stats">
          <div class="gapper-stats">
            <div *ngFor="let stat of getStatsAndTvs()" class="stat">
              <div [ngClass]="stat.statName + 'circle'">
                <h6 [ngClass]="stat.statName">{{ stat.statName | titlecase }}</h6>
                <h5 [ngClass]="'stat' + stat.statValue + ' total' + stat.statValue">{{ stat.statValue }}</h5>
                <span class="tv-value" *ngIf="stat.tvValue > 0">{{ stat.tvValue }} tv</span>
              </div>
            </div>
          </div>
        </div>




      </div>

      <div class="botlane">
        <div id="techniques"></div>

        <h2>Techniques</h2>
        <div *ngIf="getTechniques().length > 0; else noTechniques" class="technique-entry">

          <div *ngFor="let technique of getTechniques()" class="technique-line">
            <div class="technique-border">
              <span>
                <div *ngIf="technique.source == 'Levelling'" class="level-part">Lv {{technique.levels}}</div>
                <div *ngIf="technique.source == 'Breeding'" class="level-part">
                  <img src="../../assets/img/egg-icon.png" alt="Egg move" class="egg-icon">
                </div>
                <div *ngIf="technique.source == 'TechniqueCourses'" class="level-part">
                  <img src="../../assets/img/tc-icon.png" alt="tech course move" class="techmov-icon">
                </div>
                <div class="prio-part">
                  <img [src]="'https://temtem-api.mael.tech/images/icons/priority/' + technique.priority + '.png'"
                    alt="" class="technique-prio-icon">
                </div>
                <div class="name-part">
                  <div class="type-wrapper">
                    <img src="https://temtem-api.mael.tech/images/icons/types/{{ technique.type }}.png"
                      class="technique-type-icon">
                    <div *ngIf="technique.synergy && technique.synergy !== 'None'" class="synergy-part">
                      <img src="../../assets/img/plus-icon.png" class="plus-icon" alt="">
                      <img src="https://temtem-api.mael.tech/images/icons/types/{{ technique.synergy }}.png"
                        class="synergy-icon" alt="{{ technique.synergy }}">
                    </div>
                  </div>
                  <strong>{{ technique.name }}</strong>
                </div>
                <div class="damage-part">DMG: {{ technique.damage }}
                  <img [src]="'https://temtem-api.mael.tech' + technique.classIcon" class="technique-type-icon"
                    alt="{{ technique.class }}" />
                </div>
                <div class="stamina-part">STA: {{ technique.staminaCost }}</div>
                <div class="hold-part">CD: {{ technique.hold }}</div>
                <div class="targets-part">Targets: {{ technique.targets }}</div>
              </span>
              <div class="effect-text">
                <p>{{ technique.effectText }}</p>
              </div>
            </div>

            <!-- Effektanzeige -->
          </div>
        </div>
        <ng-template #noTechniques>
          <p>No techniques available.</p>
        </ng-template>
        <div id="trivia"></div>

        <div class="trivia" *ngIf="hasTrivia()">
          <h2>Trivia</h2>
          <span *ngFor="let t of temtem.trivia" class="trivia-entry">- {{ t }}</span>
        </div>
      </div>


      <!-- Description: {{ technique.description }} -->

      <!-- Effect: {{ technique.effectText }} -->






    </div><!--  div für Zeile 7 -->
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>