<div class="content-wrapper">
  <div *ngIf="errorMessage; else temtemContent">
    <h1>{{ errorMessage }}</h1>
    <p>Redirecting to Temtem list...</p>
  </div>

  <ng-template #temtemContent>
    <div *ngIf="temtem; else loading" id="content">
      <!-- <app-toplane [temtem]="temtem" [data]="data"></app-toplane> -->
      <app-midlane [temtem]="temtem"></app-midlane>
      <!-- <app-botlane [temtem]="temtem"></app-botlane> -->
  <!-- Schließe den Haupt-Content korrekt -->
  </div> <!-- Schließt .content-wrapper -->

  <!-- Ladeanzeige-Template -->
  <ng-template #loading>
  <p>Loading...</p>
  </ng-template>



