@import '../../styles.scss';
@import '../shared/shared.scss';

p,
h1,
div,
h2,
h3 {
    color: black !important;
}

.mobile-content-wrapper {
    display: none;
}

.content-wrapper {
    display: flex;
    background-color: lightgrey;
    max-width: 1080px;
    min-width: 1080px;
    height: max-content;
    border-radius: 30px;
    border: 10px black solid;
    justify-content: space-between;
    position: relative;
    padding-bottom: 100px;

    >#content {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        width: 100%;
        height: max-content;
    }

}

.trait-tooltip {
    position: fixed;
    background-color: #add9ff;
    border: 1px solid #007bff;
    padding: 8px;
    border-radius: 6px;
    white-space: wrap;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -100%);
}

@media only screen and (max-width: 1100px) {
    .content-wrapper {
        width: 100%;
        min-width: unset;
        max-width: none;
        border: none;
        border-radius: 0;
    }
}